<!-- dynamic-table.component.html -->
<div class="container">
    <div class="container-banner">
        <div class="container-text">
            <h1>{{tableName}}</h1>
            <img src="../../../../assets/images/logo_ifts_11.png" alt="logo ifts11">
        </div>
        <div class="container-banner-actions">
            <div class="container-title">
                <strong>
                    <h2>Lista de {{ tableName }}</h2>
                </strong>
            </div>
            <div class="container-button" *ngIf="tableName !== 'Solicitudes' && tableName !== 'Devoluciones'">
                <button mat-raised-button color="accent" (click)="openDialogTemplate(template)">
                    Agregar {{tableName}}
                </button>
            </div>
        </div>
    </div>

    <div class="search-container">
        <mat-form-field class="form-field ">
            <input matInput placeholder="Buscar" matInput (input)="applyFilter($event)" />
            <mat-icon matSuffix class="icon-right">search</mat-icon>
        </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Columnas -->
        <ng-container *ngFor="let column of columnHeaders" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column | titlecase }} </th>
            <td mat-cell *matCellDef="let element">
                <!-- Condición específica para la columna 'qr' -->
                <ng-container *ngIf="column === 'qr'; else defaultContent">
                    <ng-container *ngIf="element[column]; else noQrData">
                        <mat-icon class="clickable-icon" (click)="openQrDialog(element[column])">visibility</mat-icon>
                        <!-- Ícono de ojo -->
                    </ng-container>
                    <ng-template #noQrData>
                        <mat-icon [ngClass]="{'disabled':column === 'qr'}">visibility_off</mat-icon>
                    </ng-template>
                </ng-container>

                <!-- Plantilla por defecto para otras columnas -->
                <ng-template #defaultContent>
                    {{ element[column] }}
                </ng-template>
            </td>

        </ng-container>

        <!-- Columna de acciones -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <ng-container *ngIf="tableName !== 'Solicitudes' && tableName !== 'Devoluciones'">
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="openDialogTemplate(template, element)">
                        <mat-icon class="custom-icon">edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="openDialogTemplateDelete(template1, element)">
                        <mat-icon matSuffix class="custom-icon-delete">delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <ng-container *ngIf="tableName === 'Solicitudes'">
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button mat-dialog-close color="accent"
                        (click)="aprobarSolicitud(element)">Aprobar</button>
                    <button mat-raised-button mat-dialog-close color="warn"
                        (click)="rechazarSolicitud(element)">Rechazar</button>
                </td>
            </ng-container>
            <ng-container *ngIf="tableName === 'Devoluciones'">
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button mat-dialog-close color="accent"
                        (click)="devolverComputadora(element)">Devolver</button>
                </td>
            </ng-container>
        </ng-container>



        <!-- Fila para mostrar datos vacíos o no encontrados -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" *matCellDef="let element"> No se encontraron datos. </td>
        </tr>

        <!-- Filas de datos -->
        <tr mat-header-row *matHeaderRowDef="columnHeaders.concat('actions')"></tr>
        <tr mat-row *matRowDef="let row; columns: columnHeaders.concat('actions')"></tr>
    </table>

    <!-- Controles de paginación y filtro -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>

</div>
<ng-template #template>
    <app-reactive-form #reactiveForm [formConfig]="formConfig" [data]="data" (save)="onSave($event)"
        [operacion]="operacionCapitalizada" [table]="tableName">
    </app-reactive-form>
</ng-template>

<ng-template #template1>
    <h1 mat-dialog-title>Está seguro que desea borrar este elemento?</h1>
    <div mat-dialog-actions class="mat-dialog-actions">
        <button mat-button mat-dialog-close>No</button>
        <button mat-button mat-dialog-close (click)="borrarItem()">Si</button>
    </div>
</ng-template>

<!-- Modal para mostrar QR -->
<ng-template #qrDialog let-data>
    <div class="dialog-header">
        <h1 mat-dialog-title>QR Code</h1>
    </div>
    <div mat-dialog-content>
        <img [src]="data" alt="QR Code" style="max-width: 100%; height: auto;">
    </div>
    <div mat-dialog-actions class="dialog-actions">
        <button mat-button mat-dialog-close class="mat-dialog-actions">Cerrar</button>
    </div>
</ng-template>

<div>
    <app-custom-snackbar #snackbarComponent></app-custom-snackbar>
</div>