/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';



@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
:root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-icon {
    color: #4CAF50;
    /* Color personalizado */
}

.custom-icon-delete {
    color: #F44336  ;
    /* Color personalizado */
}